@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;

  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 45px;
  padding: 0 1rem;
  width: 100%;
}

.local-nav-links a:not(:first-child) {
  margin-left: 2em;
  font-size: 0.8rem;
}

.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 900;
}

.scroll-section {
  border: 3px solid tomato;
  padding-top: 50vh;
  position: relative;
}

#scroll-section-0 h1 {
  position: relative;
  font-size: 3rem;
  top: -10vh;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin: 5px 0;
  font-size: 2rem;
}

.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
}

.description strong {
  float: left;
  margin-right: 0.5em;
  font-size: 2.5rem;
  color: rgb(29, 29, 31);
}

.main-message small {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.desc-message {
  font-weight: bold;
  width: 50%;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: black;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 1rem;
  color: #888;
}

.mid-message strong {
  color: black;
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}

.footer {
  background-color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.sticky-elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* javascript로 body에 #show-scene-0~3까지 붙여준다. */

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

/* 창 크기가 1024px 이상일 때 실행 */
@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 2vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
}
